@page
@model EqDemo.Pages.IndexModel

@inject Microsoft.Extensions.Configuration.IConfiguration Configuration
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Ad-hoc reporting demo";
    ViewData["MenuTitle"] = "Ad-hoc reporting demo";
    bool IsQueryManager = User.IsInRole(Korzh.EasyQuery.Services.DefaultEqAuthProvider.EqManagerRole);
    string tooltipContent = "You are logged in as a demo user. Demo user is not allowed to manage the reports.<br />"
        + "To test this functionlity - please log out and sign in with another account.";
}


@section Styles {
    <link rel="stylesheet" href="https://cdn.korzh.com/eq/7.3.3/eq.core.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/root.css" />
    <link rel="stylesheet" href="~/css/adhoc-reporting.css" />

    <style>
        .eqv-chart-panel {
            margin-left: 5px;
        }
    </style>
}

<div class="container-fluid px-5">
    <div class="row" id="ReportsContainer" style="visibility: hidden">
        <div class="col-md-3">
            <div class="card">
                <div class="card-header">
                    <div class="card-title float-left">Reports</div>
                    <div class="dropdown float-right card-header-button">
                        <button id="dropdownMenuButton" class="btn btn-default btn-sm dropdown-toggle"
                                type="button" data-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false">
                            <i class="fas fa-cog"></i>
                        </button>
                        @if (IsQueryManager)
                        {
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" id="NewReportButton" href="javascript:void(0)">New report</a>
                                <a class="dropdown-item" id="SaveReportButton" href="javascript:void(0)">Save as...</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" id="RemoveReportButton" href="javascript:void(0)">Remove report</a>
                            </div>

                        }
                        else
                        {
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" data-toggle="tooltip" data-html="true" data-placement="bottom"
                                 title="@tooltipContent">
                                <a class="dropdown-item disabled" href="javascript:void(0)">New report</a>
                                <a class="dropdown-item disabled" href="javascript:void(0)">Save as...</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item disabled" href="javascript:void(0)">Remove report</a>
                            </div>
                        }
                    </div>
                </div>
                <div class="card-body">
                    <div id="ReportList" class="panel-body">
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-9">
            <div id="ReportPanel" class="card">
                <div class="card-header">
                    <div id="ReportTitle" class="card-title float-left">Report title</div>
                </div>
                <div class="card-body">
                    <div class="columns-block mb-3" data-hide-on-max>
                        <div class="block-caption">Columns:</div>
                        <div id="ColumnsBar"></div>
                    </div>
                    <div class="aggregations-block mb-3" data-hide-on-max>
                        <div class="block-caption mb-1">Aggregations:</div>
                        <div id="AggregationBar"></div>
                    </div>
                    <div class="conditions-block mb-3" data-hide-on-max>
                        <div class="block-caption">Conditions:</div>
                        <div id="QueryPanel" class="query-panel"></div>
                    </div>
                    <div class="result-block">
                        <div class="block-caption">Result:</div>
                        <!--<div id="ResultPanel" class="eqv-result-panel-content"></div>-->
                        <div id="ResultFacetsPanel"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row " id="NoReportPanel" style="visibility:hidden;">
        <div class="col-md-12">
            @if (IsQueryManager)
            {
                <h3 class="text-center">
                    No reports are defined. <a id="FirstReportButton" href="javascript:document['ReportView'].newReport()">Create a first one</a> to start.
                </h3>
            }
            else
            {
                <h3 class="text-center">
                    No reports are defined. <span id="FirstReportButton" title="@tooltipContent" data-toggle="tooltip" data-placement="top" style="text-decoration: underline">Create a first one</span> to start.
                </h3>

            }
        </div>
    </div>
</div>


<div id="alertTemplate" class="alert alert-dismissible fade" role="alert" style="display: none;">
    Alert text
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>


@section Scripts {
    <script>
            $(function () {
              $('[data-toggle="tooltip"]').tooltip()
            })
    </script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <!-- Google Charts script -->
    <script>
        google.charts.load('current', { 'packages': ['corechart'] });
    </script>

    <!-- EasyQuery scripts -->
    <script src="https://cdn.korzh.com/eq/7.3.3/eq.enterprise.min.js"></script>

    <script>
        showAlert = function(text, isError) {
            const alert = document.getElementById('alertTemplate').cloneNode(true);
            alert.removeAttribute('id');
            alert.classList.add(isError ? 'alert-danger' : 'alert-success');
            alert.childNodes[0].textContent = text;
            alert.style.removeProperty('display');

            const container = document.getElementById('ReportsContainer');
            container.parentElement.insertBefore(alert, container);
        }

        clearAlerts = function() {
            $(".alert[id!='alertTemplate']").alert('close');
        }

        window.addEventListener('load', function () {

            //Options for ReportView
            var viewOptions = {

                //Saves report on each change
                syncReportOnChange: true,

                enableExport: true,
                serverExporters: [ 'pdf', 'excel', 'excel-html', 'csv'],

                handlers: {
                    onError: function (_, error) {
                        console.error(error.sourceError);
                        showAlert(error.sourceError.message, true);
                    }
                },

                result: {
                    //Show EasyChart
                    showChart: true,

                    //Paging options
                    paging: {
                        pageSize: 30
                    }
                },

                //Load model on start
                loadModelOnStart: true,

                //Default model's ID (we use it here just for a nice folder name in App_Data folder)
                defaultModelId: 'adhoc-reporting',

            }

            var reportView = new easyquery.ui.ReportView();
            var context = reportView.getContext();
            context
                .useEndpoint('/api/adhoc-reporting')
                .useEnterprise(function () {
                    reportView.init(viewOptions);
                });

            document['ReportView'] = reportView;
        });
    </script>
}