
@{
    ViewData["Title"] = "Data Filtering LINQ Demo";
}


@section Styles {

    <link rel="stylesheet" href="https://cdn.korzh.com/eq/5.0.0/eq.core.min.css">
    <link rel="stylesheet" href="https://cdn.korzh.com/eq/5.0.0/eq.view.min.css">
}
<h2>Orders</h2>

@Html.FilterBar()


<div id="ResultPanel"></div>

@section Scripts {

    <!-- Add EasyQuery All scripts file -->
    <script src="https://cdn.korzh.com/eq/5.0.0/eq.all.min.js" type="text/javascript"></script>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            let options = {
                paging: {
                    useBootstrap: true,
                },
                context: {
                    loadModelOnStart: true,
                    broker: {
                        serviceUrl: "/orders",
                    },
                    widgets: {
                        filterBar: {
                            queryPanel: {
                                attrElementFormat: "{entity} {attr}"
                            }
                        }
                    }
                }
            };

            let dataFilterView = new easyquery.DataFilterViewJQuery();
            dataFilterView.init(options);
            document['DataFilterViewJQuery'] = dataFilterView;
        });
    </script>
}