@inject Microsoft.Extensions.Configuration.IConfiguration Configuration

@{
    ViewData["Title"] = "Data Filtering LINQ Demo";
    ViewData["MenuTitle"] = "Data Filtering LINQ Demo";
    var appPathBase = Configuration["appPathBase"] ?? "";
}


@section Styles {
    <link rel="stylesheet" href="https://cdn.korzh.com/eq/6.1.2/eq.core.min.css">
    <link rel="stylesheet" href="https://cdn.korzh.com/eq/6.1.2/eq.view.min.css">
}
<h2>Orders</h2>


@Html.FilterBar()


<div id="ResultPanel"></div>

<!-- The Modal -->
<div class="modal" id="errorModel">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title" id="error-title"></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body" id="error-content">

            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

@section Scripts {

    <!-- Add EasyQuery All scripts file -->
    <script src="https://cdn.korzh.com/eq/6.1.2/eq.enterprise.min.js" type="text/javascript"></script>
    <script>

        document.addEventListener('DOMContentLoaded', function () {
            //Options for DataFilterViewJQuery
            let options = {

                //Paging options
                paging: {
                    //Use bootstrap v4 styles
                    useBootstrap: true,
                },

                //Context options
                context: {

                    //Load model on start
                    loadModelOnStart: true,

                    //don't clear result on each query change event
                    clearResultOnQueryChange: false,

                    //hadlers
                    handlers: {
                        //override error handler
                        onError: function (message) {
                            $("#error-title").text(message.type);
                            $("#error-content").text(message.text);
                            $('#errorModel').modal('show');
                        }
                    },

                    //Broker options
                    broker: {

                        //Middleware endpoint
                        endpoint: "@(appPathBase)/api/data-filtering2",
                    },
                },

                //Different widgets options
                widgets: {
                    //FilterBar options
                    filterBar: {
                        queryPanel: {
                            attrElementFormat: "{entity} {attr}"
                        }
                    }
                },
                result: {
                    //Paging options
                    paging: {
                        //Use bootstrap v4 styles
                        useBootstrap: true,
                    }
                }
            };

            var dataFilterView = new easyquery.ui.DataFilterView();
            dataFilterView.getContext().setLicenseKeyEndpoint(`@appPathBase` + window['__eqLckEndpoint']);

            dataFilterView.getContext().useEnterprise(function () {
                   dataFilterView.init(options);
            });

            document['DataFilterView'] = dataFilterView;
       });
    </script>
}
