
@{
    ViewData["Title"] = "AdHocReport";
}


@section Styles {

    <link rel="stylesheet" href="https://cdn.korzh.com/eq/5.0.0/eq.core.min.css">
}

    <div class="row" style="height: 100%;">
        <div class="col-md-3">
            <div class="card" style="min-height:300px;">
                    <div class="card-header" style="height:50px;">    
                        <div class="card-title float-left">Reports</div>
                        <div class="dropdown float-right">
                            <button class="btn btn-default btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                 <a class="dropdown-item" id="NewReportButton" href="javascript:void(0)">New report</a>
                                 <a class="dropdown-item" id="SaveReportButton" href="javascript:void(0)">Save as...</a>
                                 <div class="dropdown-divider"></div>
                                 <a class="dropdown-item" id="RemoveReportButton" href="javascript:void(0)">Remove report</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div id="ReportList" class="panel-body">
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-9">
            <div id="ReportPanel" class="card" style="display:none;">
                <div class="card-header" style="height:50px;">
                    <div id="ReportTitle" class="card-title float-left">Sales by product</div>
                    <div class="float-right">
                        <button id="UpdateReportButton" type="button" class="btn btn-default btn-sm" title="Refresh result set">
                            <i class="fa fa-refresh" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="columns-block" style="height:70px;">
                        <div class="columns-caption">Columns:</div>
                        <div id="ColumnsBar"></div>
                        <!-- <div id="ColumnsPanel"></div> -->
                    </div>
                    <div id="QueryPanel" class="query-panel" style="height:130px;"></div>
                    <div id="ResultPanel" class="result-panel-content"></div>
                </div>
            </div>
            <div id="NoReportPanel" style="display:none;height:300px;padding-top:100px;">
                <h3 class="text-center">
                    No reports are defined. <a id="FirstReportButton" href="javascript:document['ReportViewJQuery'].newReport()">Create a first one</a> to start.
                </h3>
            </div>
        </div>
     </div>


@section Scripts {
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script>
        google.charts.load('current', { 'packages': ['corechart'] });
    </script>

    <script src="~/js/easyreport.js"></script>

}