################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/
bin/
obj/
bower_components
packages/


/EqAzureDemo/wwwroot/lib

PublishProfiles/
/EqAspNetCoreDemo/node_modules
/EqAspNetCoreDemo/wwwroot/js/easyreport.js
/EqAspNetCoreDemo/wwwroot/js/easyreport.js.map
/EqAspNetCoreDemo/wwwroot/lib
/EqAspNetCoreDemo/ts/easyreport.js
