################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
*.bak
.vs/
bin/
obj/
bower_components
packages/
node_modules/
wwwroot/
PublishProfiles/

/EqAspNetCoreDemo/ts/easyreport.js
App_Data/dm-*__default/
