:host {
  height: calc(100% - 38px);
}

.content-container {
  height: 100%;
}

#ColumnsBar, #QueryPanel {
  background: var(--default-background);
  color: var(--default-color);
}

.panel-title {
  font-weight: bold;
  margin: 10px 10px 0 10px;
}