<div class="content-container">
    <div data-role="splitter" data-split="vertical" data-split-sizes="300px, 100%" class="h-100">
        <div class="report-list">
            <div class="p-1 border-bottom bd-default">
                <button id="NewReportButton" class="button small outline square" title="New report"><span class="mif-libreoffice"></span></button>
                <button id="SaveReportButton" class="button small  outline square ml-1 mr-1" title="Save report as..."><span class="mif-floppy-disk"></span></button>
                <button id="RemoveReportButton" class="button small  outline square" title="Delete report"><span class="mif-bin"></span></button>
            </div>
            <div id="ReportList"></div>
            <!-- Report List -->
        </div>
        <div class="query-options d-flex flex-column">
            <div class="columns-panel border-bottom bd-default">
                <div class="panel-title">Columns:</div>
                <div id="ColumnsBar"></div>
            </div>
            <div class="aggregation-panel border-bottom bd-default">
                <div class="panel-title">Aggregations:</div>
                <div id="AggregationBar"></div>
            </div>
            <div class="conditions-panel h-100" data-role="splitter" data-split="horizontal" data-split-sizes="25, 75">
                <div class="conditions-panel">
                    <div class="panel-title">Conditions:</div>
                    <div id="QueryPanel"></div>
                </div>
                <div class="result-panel">
                    <div class="panel-title">Result:</div>
                    <div id="ResultFacetsPanel"></div>
                </div>
            </div>
        </div>
    </div>
</div>
