<div class="content-container">
  <div data-role="splitter" data-split="vertical" data-split-sizes="300px, 100%" class="h-100">
    <div class="report-list" id="ReportList">
      <!-- Report List -->
    </div>
    <div class="query-options" data-role="splitter" data-split="horizontal" data-sizes="200px, 100px, 50, 50">
      <div>
        <div class="columns-panel">
          <div id="ColumnsBar"></div>
        </div>
        <div class="aggregation-panel">
          <div id="AggregationBar"></div>
        </div>
      </div>
      <div class="conditions-panel">
        <div id="QueryPanel"></div>
      </div>
      <div class="result-panel">
        <div id="ResultFacetsPanel"></div>
      </div>
    </div>
  </div>
</div>
