@inject Microsoft.Extensions.Configuration.IConfiguration Configuration

@{
    ViewData["Title"] = "Data Filtering demo";
    ViewData["MenuTitle"] = "Data Filtering demo";
    var appPathBase = Configuration["appPathBase"] ?? "";
}

@section Styles  {
    <link rel="stylesheet" href="https://cdn.korzh.com/eq/6.0.0-beta2/eq.core.min.css">
}

<div class="eqjs-process-bar" id="ProcessBar"></div>
<div class="container">
    <h4>Orders</h4>

    @Html.FilterBar()

    <div id="ResultPanel"></div>
</div>


@section Scripts {

    <!-- EasyQuery scripts -->
    <script src="https://cdn.korzh.com/eq/6.0.0-beta2/eq.community.min.js"></script>
    <script src="https://cdn.korzh.com/eq/6.0.0-beta2/eq.enterprise.min.js"></script>

    <!-- EasyQuery components initialization -->
    <script>
        window.addEventListener('load', function () {
            var options = {
                loadModelOnStart: true,
                clearResultOnQueryChange: false,
                broker: {
                    endpoint: "@(appPathBase)/data-filtering"
                },
                widgets: {
                    filterBar: {
                        queryPanel: {
                            attrElementFormat: "{entity} {attr}"
                        },
                        //autoEditNewCondition: true
                    }
                },
                result: {
                    paging: {
                        useBootstrap: true
                    }
                }
            }
            var view = new easyquery.ui.HtmlDataFilterView();
            view.getContext().useEnterprise('Input your license key here');
            view.init(options);
        });

    </script>
}
