* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  padding-top: 50px;
  height: 100vh;
}

.appbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid #e8e8e8;
  background: white;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    li {
      margin-right: 10px;
    }

    li, a {
      display: flex;
      height: 24px;
      line-height: 24px;
      align-items: center;
    }
  }
}

main {
  padding: 20px;
}

.kdlg-modal-window > * {
  width: 100%;
}

.eqjs-qp-row {
  padding: 0 10px!important;
}
.eqjs-qp-condition-buttonsBlock, .eqjs-facets-total-buttons {
  margin-right: 10px;
}

.dark-side {
  .gutter, .eqjs-addrow, .bd-default, footer, .keg-root, .keg-row {
    border-color: #4a4d51!important;
  }
  .eqjs-cb-row, .eqjs-qp-row:hover, .eqjs-qp-row.active, .keg-header, .keg-header-row, .keg-row {
    background-color: var(--selected-row-background)!important;
    color: #ffffff!important;
  }
  .eqjs-aggrb-panel {
    background-color: var(--default-background)!important;
  }
  a {
    color: #0099CC!important;
    &:hover {
      color: #04ace4 !important;
    }
  }
  .eqjs-qp-condition-button-active {
    background-color: #04ace4 !important;
    color: #ffffff!important;
  }

  .eqjs-facets-nav-tabs {
    li.active {
      background-color: var(--selected-row-background) !important;
      border-color: #4a4d51!important;
    }
  }

}