@page
@model IndexModel
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration

@{
    ViewData["Title"] = "Data Filtering demo";
    ViewData["MenuTitle"] = "Data Filtering demo";
    Layout = "_Layout";
}

@section Styles  {
    <link rel="stylesheet" href="https://cdn.korzh.com/eq/7.3.3/eq.core.min.css">

    <style>
        .text-search {
            margin-bottom: 10px;
        }

        .krh-fts-container {
            display: flex;
        }

        .krh-fts-input {
            flex: 1 1 auto;
        }

        .krh-fts-buttons {
            flex: 0 0 auto;
            padding-left: 15px;
        }
    </style>
}

<div class="eqjs-process-bar" id="ProcessBar"></div>
<div class="container">
    <h4>Orders</h4>
    <div id="FilterBar"></div>
    <div id="ResultPanel"></div>
</div>

@section Scripts {
    <!-- EasyQuery script -->
    <script src="https://cdn.korzh.com/eq/7.3.3/eq.enterprise.min.js"></script>

    <!-- EasyQuery components initialization -->
    <script>
        window.addEventListener('load', function () {
            var viewOptions = {
                loadModelOnStart: true,
                clearResultOnQueryChange: false,
                result: {
                    showChart: false,
                    paging: {
                        pageSize: 20
                    }
                }
            }

            var view = new easyquery.ui.DataFilterView();
            view.getContext()
                .useEndpoint('/data-filtering')
                .useEnterprise(function () {
                    view.init(viewOptions);
                });
        });
    </script>
}
