@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav user-hello">
    @if (SignInManager.IsSignedIn(User)) {
        <li class="nav-item nav-item-user user-email">
            Hi @(User.Identity.Name)!
        </li>
        <li class="nav-item user-logout">
            <form class="form-inline" asp-controller="Home" asp-action="Logout" asp-route-returnUrl="@Context.Request.GetLocalPath()" method="post">
                <button type="submit" class="nav-link btn btn-link">(Logout)</button>
            </form>
        </li>
        <li class="nav-item user-delimiter">|</li>
    }
    else {
/*
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
*/
    }
</ul>

