@{
    ViewData["Title"] = "EasyQuery demo: Entity Framework Core and LINQ queries";
}


<div class="jumbotron">
    <h1>EasyQuery demo</h1>
    <p>(Entity Framework Core and LINQ queries)</p>

    <p>
        <a asp-controller="EasyQuery" class="btn btn-primary btn-lg" role="button"><span class="glyphicon glyphicon-search"></span> Advanced search</a>
        &nbsp; &nbsp;
        <a asp-controller="Order" class="btn btn-primary btn-lg" role="button"><span class="glyphicon glyphicon-filter"></span> Adhoc data filtering</a>
        &nbsp; &nbsp;
        <a asp-controller="Customer" class="btn btn-primary btn-lg" role="button"><span class="glyphicon glyphicon-search"></span> Full text search</a>
    </p>
</div>


