@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
<h1>EasyReport demo</h1>
<p>(Entity Framework Core and LINQ queries)</p>

<p>
    <a href="@Url.Action("EasyReport","Home")" class="btn btn-primary btn-lg" role="button"><span class="glyphicon glyphicon-search"></span> Advanced search</a>
    &nbsp; &nbsp;

</p>
</div>