@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="jumbotron">
        <h1>Easy Report Home Page</h1>
        <p>(Entity Framework Core and LINQ queries)</p>

        <p>
            <a asp-controller="EasyReport" class="btn btn-primary btn-lg" role="button"><span class="glyphicon glyphicon-search"></span> Start using</a>
            &nbsp; &nbsp;

        </p>
    </div>
</div>
