@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="jumbotron">
        <h1>Easy Report <small>/<a href="https://korzh.com/easyquery" target="_blank">EasyQuery</a> demo project/</small></h1>
        <p>(Entity Framework Core with MS SQL Server Local)</p>

        <p>
            <a asp-controller="EasyReport" class="btn btn-primary btn-lg" role="button"><span class="glyphicon glyphicon-search"></span> Start</a>
        </p>
    </div>
</div>
