@page "/advanced-search"
@model EqAspNetCoreDemo.Pages.AdvancedSearchModel
@{
    ViewData["Title"] = "AdvancedSearch";
    Layout = "_LayoutRoot";
}

@section Styles {

    <link rel="stylesheet" href="https://cdn.korzh.com/eq/5.0.0/eq.core.min.css">
    <link rel="stylesheet" href="https://cdn.korzh.com/eq/5.0.0/eq.view.min.css">
    <!--
        <link rel="stylesheet" href="/css/eq.core.min.css">
        <link rel="stylesheet" href="/css/eq.view.min.css">
    -->
}

<div id="eqv-main">

    <!--
    <input id="QueryContentJson" type="hidden" value="@ViewBag.QueryJson" />
    -->
    <div id="eqv-content">
        <div class="eqv-header-panel">
            <div class="eqv-entities-block">
                <hr class="eqv-entities-hr eqv-hr" />
                <div class="eqv-entities-title">Entities</div>
                <div class="eqv-entities-panel-container">
                    <!-- EntitiesPanel widget placeholder -->
                    <div id="EntitiesPanel" onselectstart="return false"></div>
                </div>
            </div>

            <div class="eqv-central-block">
                <div class="eqv-columns-block">
                    <hr class="eqv-columns-hr eqv-hr" />
                    <div class="eqv-columns-title">Columns</div>
                    <div class="eqv-columns-panel-container">
                        <!-- ColumnsPanel widget placeholder -->
                        <div id="ColumnsPanel"></div>
                    </div>
                </div>
                <div class="eqv-conditions-block">
                    <hr class="eqv-conditions-hr eqv-hr" />
                    <div class="eqv-conditions-title">Conditions</div>
                    <div class="eqv-query-panel-container">
                        <!-- QueryPanel widget placeholder -->
                        <div id="QueryPanel"></div>
                    </div>
                </div>
            </div>

            <div class="eqv-menu-block">
                <hr class="eqv-menu-hr eqv-hr" />
                <div class="eqv-menu-title">Menu</div>
                <div class="eqv-menu-content">
                    <div id="ClearQueryButton" class="eqv-button eqv-clear-button">Clear query</div>
                    <form id="LoadQueryForm" asp-controller="EasyQuery" asp-action="LoadQueryFromFile" method="post" enctype="multipart/form-data">
                        <input type="hidden" id="queryToLoadModelId" name="modelId" />
                        <input type="file" id="LoadQueryFileInput" name="queryFile" style="display: none;" />
                    </form>

                    <form id="SaveQueryForm" asp-controller="EasyQuery" asp-action="SaveQueryToFile" method="post">
                        <input type="hidden" id="queryToSaveJson" name="queryJson" />
                    </form>

                    <div id="LoadQueryFileButton" class="eqv-button eqv-load-query-button">Load query file</div>
                    <div id="SaveQueryToFileButton" class="eqv-button eqv-load-query-button">Save to file</div>

                    <div id="ExecuteQueryButton" class="eqv-button eqv-execute-button">Execute</div>

                    <div><p></p></div>

                </div>
            </div>
        </div>
        <form id="ExportQueryResultForm" asp-controller="EasyQuery" asp-action="ExportToFile" method="post">
            <input type="hidden" id="queryJsonExport" name="queryJson" />
            <input type="hidden" id="exportFileType" name="fileType" />
        </form>
        <div class="eqv-bottom-panel">
            <div class="eqv-sql-panel">
                <hr class="eqv-sql-panel-hr eqv-hr" />
                <div class="eqv-sql-panel-title">SQL</div>
                <div id="StatementPanel" class="eqv-sql-block">
                    <div class="sql-panel-result"></div>
                </div>
            </div>
            <div class="eqv-result-panel">
                <hr class="eqv-result-panel-hr eqv-hr" />
                <div class="eqv-result-panel-title">
                    Result
                    <span id="ResultCount" style="display:none; margin-left:20px; font-size:small"></span>
                    <span id="ResultExportButtons">
                        <a id="ExportToExcel" href="javascript:void(0)">Export to Excel</a>
                        <a id="ExportToCsv" href="javascript:void(0)">Export to CSV</a>
                    </span>

                </div>
                <div id="ResultPanel" class="eqv-result-panel-content">
                </div>
                <div class="eqv-result-panel-content-padding">
                </div>
            </div>

        </div>
    </div>
    <div id="eqv-footer">
        <div class="eqv-copyright">
            © Copyright 2006-@(DateTime.Now.Year). <a href="https://korzh.com/" target="_blank">Korzh.com</a>
        </div>
        <div class="eqv-power-by">
            Powered by <a href="https://korzh.com/easyquery" target="_blank">EasyQuery</a>
            |
            <a href="http://demo.easyquerybuilder.com" target="_blank">Live demos</a>

        </div>
    </div>

</div>

@section Scripts {
    <!--ChartJS script file -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.min.js" type="text/javascript"></script>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script>
        google.charts.load('current', { 'packages': ['corechart'] });
    </script>

    <!-- Add EasyQuery All scripts file -->
    <script src="https://cdn.korzh.com/eq/5.0.0/eq.all.min.js" type="text/javascript"></script>

    <!-- Add EasyQuery functionality -->
    <script>
        document.addEventListener('DOMContentLoaded', () => {

            //Options for AdvancedSearchViewJQuery
            let options = {

                //Context options
                context: {

                    //Load model on start
                    loadModelOnStart: true,

                    //Load query on start
                    loadQueryOnStart: true,

                    //Default query id
                    defaultQueryId: "testQuery",

                    //Default model id
                    defaultModelId: "NWindSQL",

                    //Handlers
                    handlers: {
                        //Error handler
                        onError: (error) => {
                            console.error(error.type + " error:\n" + error.text);
                        },

                        //Client-side list resolver
                        listRequestHandler: (params, onResult) => {
                            let processed = true;
                            if (params.listName == "RegionList") {
                                let query = this.context.getQuery();
                                let country = query.getOneValueForAttr("Customer.Country");
                                if (country == "Canada") {
                                    onResult([
                                        { id: "BC", text: "British Columbia" },
                                        { id: "Quebec", text: "Quebec" }
                                    ]);
                                }
                                else {
                                    onResult([
                                        { id: "CA", text: "California" },
                                        { id: "CO", text: "Colorado" },
                                        { id: "OR", text: "Oregon" },
                                        { id: "WA", text: "Washington" }
                                    ]);
                                }
                            }
                            else
                                processed = false;
                            return processed;
                        }
                    },

                    //Widgets options
                    widgets: {

                        //EntityiesPanel options
                        entitiesPanel: {
                            showCheckboxes: true
                        },

                        //CloumnsPanel options
                        columnsPanel: {
                            allowAggrColumns: true,
                            allowCustomExpressions: true,
                            attrElementFormat: "{entity} {attr}",
                            titleElementFormat: "{attr}",
                            showColumnCaptions: true,
                            adjustEntitiesMenuHeight: false,
                            customExpressionText: 2,
                            showPoweredBy: false,
                            menuOptions: {
                                showSearchBoxAfter: 30,
                                activateOnMouseOver: true
                            }
                        },

                        //Querypanel options
                        queryPanel: {
                            showPoweredBy: false,
                            alwaysShowButtonsInPredicates: false,
                            allowParameterization: true,
                            allowInJoinConditions: true,
                            autoEditNewCondition: true,
                            buttons: {
                                condition: ["menu"],
                                predicate: ["addCondition", "addPredicate", "enable", "delete"]
                            },
                            menuOptions: {
                                showSearchBoxAfter: 20,
                                activateOnMouseOver: true
                            }
                        },
                    }
                },

                //Show EasyChart
                showChart: true,

            }

            this.view = new easyquery.AdvancedSearchViewJQuery();
            view.init(options);
            document['AdvancedSearchViewJQuery'] = view;
        });
    </script>
}
