@page "/advanced-search"
@model EqAspNetCoreDemo.Pages.AdvancedSearchModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration

@{
    ViewData["Title"] = "Advanced Search demo";
    Layout = "_Layout";
    var appPathBase = Configuration["appPathBase"] ?? "";
}

@section Styles {
    <link rel="stylesheet" href="https://cdn.korzh.com/eq/5.0.0/eq.core.min.css">
    <link rel="stylesheet" href="https://cdn.korzh.com/eq/5.0.0/eq.view.min.css">
}

    <div class="container">
        <partial name="EasyQuery/_AdvancedSearch" />
    </div>

@section Scripts {
    <!-- ChartJS script -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.min.js" type="text/javascript"></script>

    <!-- EasyQuery script -->
    <script src="https://cdn.korzh.com/eq/5.0.0/eq.all.min.js"></script>

    <!-- EasyQuery Advanced Search view initialization -->
    <script>
        window.addEventListener('load', () => {

            //Options for AdvancedSearchViewJQuery
            let options = {
                //Load model on start
                loadModelOnStart: true,

                //Load query on start
                loadQueryOnStart: true,

                //Default query ID
                defaultQueryId: "testQuery",

                //Default model ID
                defaultModelId: "NWindSQL",

                enableExport: true,

                broker: {
                    endpoint: "@(appPathBase)/api/easyquery"
                },

                //Handlers
                handlers: {
                    //Error handler
                    onError: (error) => {
                        console.error(error.type + " error:\n" + error.text);
                    },

                    //Client-side list resolver
                    listRequestHandler: (params, onResult) => {
                        let processed = true;
                        if (params.listName == "RegionList") {
                            let query = this.context.getQuery();
                            let country = query.getOneValueForAttr("Customer.Country");
                            if (country == "Canada") {
                                onResult([
                                    { id: "BC", text: "British Columbia" },
                                    { id: "Quebec", text: "Quebec" }
                                ]);
                            }
                            else {
                                onResult([
                                    { id: "CA", text: "California" },
                                    { id: "CO", text: "Colorado" },
                                    { id: "OR", text: "Oregon" },
                                    { id: "WA", text: "Washington" }
                                ]);
                            }
                        }
                        else
                            processed = false;
                        return processed;
                    }
                },

                //Widgets options
                widgets: {

                    //EntitiesPanel options
                    entitiesPanel: {
                        showCheckboxes: true
                    },

                    //ColumnsPanel options
                    columnsPanel: {
                        allowAggrColumns: true,
                        allowCustomExpressions: true,
                        attrElementFormat: "{entity} {attr}",
                        titleElementFormat: "{attr}",
                        showColumnCaptions: true,
                        adjustEntitiesMenuHeight: false,
                        customExpressionText: 2,
                        showPoweredBy: false,
                        menuOptions: {
                            showSearchBoxAfter: 30,
                            activateOnMouseOver: true
                        }
                    },

                    //QueryPanel options
                    queryPanel: {
                        showPoweredBy: false,
                        alwaysShowButtonsInPredicates: false,
                        allowParameterization: true,
                        allowInJoinConditions: true,
                        autoEditNewCondition: true,
                        buttons: {
                            condition: ["menu"],
                            predicate: ["addCondition", "addPredicate", "enable", "delete"]
                        },
                        menuOptions: {
                            showSearchBoxAfter: 20,
                            activateOnMouseOver: true
                        }
                    },
                },
                result: {
                    //Show EasyChart
                    showChart: true
                }
            }

            this.view = new easyquery.AdvancedSearchViewJQuery();
            view.init(options);

            document['AdvancedSearchViewJQuery'] = view;
        });
    </script>
}
