<style>
.eqjs-menu-levelDiv {
    border: 1px solid silver;
    border-radius: 0 0 4px 4px;
    padding: 6px 0;
    box-shadow: 4px 8px 15px 0px rgba(0,0,0,.16);
}

.eqjs-menu-itemDiv {
    min-width: 158px;
    font-size: 0.9rem;
}

    .eqjs-menu-itemDiv:hover {
        background-color: #ecf3f5 !important;
        color: #1776b1;
    }
</style>

<div class="eqjs-process-bar" id="ProcessBar"></div>
<div id="eqv-main">
    <!--
    <input id="QueryContentJson" type="hidden" value="@ViewBag.QueryJson" />
    -->
    <div class="eqv-header">
    <div class="eqv-title">EasyQuery</div>
    <div class="eqv-sub-title">Friendly ad-hoc query builder for your web-site</div>
</div>
<div id="eqv-content">
<div class="eqv-header-panel">
    <div class="eqv-entities-block">
        <hr class="eqv-entities-hr eqv-hr" />
        <div class="eqv-entities-title">Entities</div>
        <div class="eqv-entities-panel-container">
            <!-- EntitiesPanel widget placeholder -->
            <div id="EntitiesPanel" onselectstart="return false"></div>
        </div>
    </div>

    <div class="eqv-central-block">
        <div class="eqv-columns-block">
            <hr class="eqv-columns-hr eqv-hr" />
            <div class="eqv-columns-title">Columns</div>
            <div class="eqv-columns-panel-container">
                <!-- ColumnsPanel widget placeholder -->
                <div id="ColumnsPanel"></div>
            </div>
        </div>
        <div class="eqv-conditions-block">
            <hr class="eqv-conditions-hr eqv-hr" />
            <div class="eqv-conditions-title">Conditions</div>
            <div class="eqv-query-panel-container">
                <!-- QueryPanel widget placeholder -->
                <div id="QueryPanel"></div>
            </div>
        </div>
    </div>

    <div class="eqv-menu-block">
        <hr class="eqv-menu-hr eqv-hr" />
        <div class="eqv-menu-title">Query Menu</div>
        <div class="eqv-menu-content">
            <!---
            <div id="QueryNameLabel"></div>
            -->

            <a id="ClearQueryButton" class="eqv-button">Clear</a>

            <!---
            <div class="eqv-dropdown-container">
                <a id="LoadQueryButton" class="eqv-button eqv-drop-button">Load <span style="float: right">▼</span></a>
                <div class="eqv-dropdown-content">
                </div>
            </div>

            <div class="eqv-dropdown-container">
                <a id="StorageDropButton" class="eqv-button eqv-drop-button">Storage <span style="float: right">▼</span></a>
                <div class="eqv-dropdown-content">
                    <a id="NewQueryButton" href="#">New query</a>
                    <a id="SaveQueryButton" href="#">Save query</a>
                    <a id="CopyQueryButton" href="#">Save query as...</a>
                    <a id="RemoveQueryButton" href="#">Remove query</a>
                </div>
            </div>
            -->

            <a id="FetchDataButton" class="eqv-button eqv-button-execute">Fetch data</a>

            <!--
            <div id="ChangeLocaleSelector" class="eqv-select"></div>
            -->

            <div><p></p></div>

        </div>
    </div>

</div>

<div class="eqv-bottom-panel">
    <div class="eqv-sql-panel">
        <hr class="eqv-sql-panel-hr eqv-hr" />
        <div class="eqv-sql-panel-title">SQL</div>
        <div id="StatementPanel" class="eqv-sql-block">
            <div class="sql-panel-result"></div>
        </div>
    </div>
    <div class="eqv-result-panel">
        <hr class="eqv-result-panel-hr eqv-hr" />
        <div class="eqv-result-panel-title">
            Result
            <span id="ResultCount" style="display:none; margin-left:20px; font-size:small"></span>
            <span class="eqv-export-buttons">
                <a class="eqjs-export" href="javascript:void(0)" data-format="excel-html">Export to Excel</a>
                <a class="eqjs-export" href="javascript:void(0)" data-format="csv">Export to CSV</a>
            </span>
        </div>
        <div id="ResultPanel" class="eqv-result-panel-content">
            <eq-kendo-grid></eq-kendo-grid>
        </div>
        <div class="eqv-result-panel-content-padding">
        </div>
    </div>

</div>
</div>
    <div id="eqv-footer">
        <div class="eqv-copyright">
      (c) Copyright 2006-2021 <a href="https://korzh.com/" target="_blank">Korzh.com</a>
    </div>
    <div class="power-by">
      Powered by <a href="https://korzh.com/easyquery" target="_blank">EasyQuery</a>
      |
      <a href="http://demo.easyquerybuilder.com" target="_blank">Live demos</a>

    </div>
  </div>
</div>
