@page "/advanced-search"

@inject IJSRuntime JSRuntime

@implements IAsyncDisposable

<style>
    #eqv-content {
        display: flex;
        flex-direction: column;
    }

    .eqv-header-panel {
        flex: 1 1 auto;
    }

    .eqv-bottom-panel {
        margin-top: 10px;
        flex: 1 1 auto;
        display: flex;
        flex-direction: row;
    }

    .eqv-sql-panel {
        flex: 0 0 auto;
        margin-right: 10px !important;
    }

    .eqv-result-panel {
        flex: 1 1 auto;
    }
</style>

<div class="eqjs-process-bar" id="ProcessBar"></div>
<div id="eqv-content">
    <div class="eqv-header-panel">
        <div class="eqv-entities-block">
            <hr class="eqv-entities-hr eqv-hr" />
            <div class="eqv-entities-title">Entities</div>
            <div class="eqv-entities-panel-container">
                <!-- EntitiesPanel widget placeholder -->
                <div id="EntitiesPanel" onselectstart="return false"></div>
            </div>
        </div>

        <div class="eqv-central-block">
            <div class="eqv-columns-block">
                <hr class="eqv-columns-hr eqv-hr" />
                <div class="eqv-columns-title">Columns</div>
                <div class="eqv-columns-panel-container">
                    <!-- ColumnsPanel widget placeholder -->
                    <div id="ColumnsPanel"></div>
                </div>
            </div>
            <div class="eqv-conditions-block">
                <hr class="eqv-conditions-hr eqv-hr" />
                <div class="eqv-conditions-title">Conditions</div>
                <div class="eqv-query-panel-container">
                    <!-- QueryPanel widget placeholder -->
                    <div id="QueryPanel"></div>
                </div>
            </div>
        </div>

        <div class="eqv-menu-block">
            <hr class="eqv-menu-hr eqv-hr" />
            <div class="eqv-menu-title">Query Menu</div>
            <div class="eqv-menu-content">
                <div id="QueryNameLabel"></div>

                <a id="ClearQueryButton" class="eqv-button">Clear</a>

                <div class="eqv-dropdown-container">
                    <a id="LoadQueryButton" class="eqv-button eqv-drop-button">Load <span style="float: right">▼</span></a>
                    <div class="eqv-dropdown-content">
                    </div>
                </div>


                <div class="eqv-dropdown-container">
                    <a id="StorageDropButton" class="eqv-button eqv-drop-button">Storage <span style="float: right">▼</span></a>
                    <div class="eqv-dropdown-content">
                        <a id="NewQueryButton" href="javascript:void(0)">New query</a>
                        <a id="SaveQueryButton" href="javascript:void(0)">Save query</a>
                        <a id="CopyQueryButton" href="javascript:void(0)">Save query as...</a>
                        <a id="RemoveQueryButton" href="javascript:void(0)">Remove query</a>
                    </div>
                </div>

                <a id="FetchDataButton" class="eqv-button eqv-button-execute">Fetch Data</a>

                <hr />

                <div id="ChangeLocale"></div>

                <div><p></p></div>

            </div>
        </div>
    </div>
    <div class="eqv-bottom-panel">
        <div class="eqv-sql-panel">
            <hr class="eqv-sql-panel-hr eqv-hr" />
            <div class="eqv-sql-panel-title">SQL</div>
            <div id="StatementPanel" class="eqv-sql-block">
                <div class="sql-panel-result"></div>
            </div>
        </div>
        <div class="eqv-result-panel">
            <hr class="eqv-result-panel-hr eqv-hr" />
            <div class="eqv-result-panel-title">
                Result
                <span id="ResultCount" style="display:none; margin-left:20px; font-size:small"></span>
                <span class="eqv-export-buttons">
                    <a class="eqjs-export" href="javascript:void(0)" data-format="pdf">Export to PDF</a>
                    <a class="eqjs-export" href="javascript:void(0)" data-format="excel">Export to Excel</a>
                    <a class="eqjs-export" href="javascript:void(0)" data-format="csv">Export to CSV</a>
                </span>
            </div>
            <div id="ResultPanel" class="eqv-result-panel-content">
            </div>
        </div>
    </div>
</div>

@code {

    protected override async Task OnInitializedAsync()
    {
        await JSRuntime.InvokeVoidAsync("easyquery.blazor.startAdvancedSearch");
    }

    private bool _disposed = false;

    public async ValueTask DisposeAsync()
    {
        if (!_disposed)
        {

            _disposed = true;

            await JSRuntime.InvokeVoidAsync("easyquery.blazor.stopAdvancedSearch");
        }
    }
}
