<nav data-role="appbar" data-expand-point="fs" class="border-bottom bd-default">
    <span class="app-bar-item-static d-flex flex-align-end">
        <span class="mif-database-search mif-2x mr-1"></span>
        <span class="enlarge-2">Adhoc Reporting</span>
        <span class="badge inline bg-violet fg-white ml-2">ANGULAR</span>
    </span>
    <div class="app-bar-container ml-14">
        <div id="ReportTitle">[New Report]</div>
    </div>
    <div class="app-bar-container ml-14">
        <button id="NewReportButton" class="button app-bar-item c-pointer" title="New report"><span class="mif-libreoffice"></span></button>
        <button id="SaveReportButton" class="button app-bar-item c-pointer ml-1 mr-1" title="Save report as..."><span class="mif-floppy-disk"></span></button>
        <button id="RemoveReportButton" class="button app-bar-item c-pointer" title="Delete report"><span class="mif-bin"></span></button>
    </div>
    <ul class="app-bar-menu ml-auto">
        <li><a href="https://korzh.com">Home</a></li>
        <li><a href="#"><span class="mif-github mif-2x"></span></a></li>
    </ul>
    <div class="app-bar-item-static"><input type="checkbox" data-role="theme-switcher"/></div>
</nav>
