
@{
    Layout = "_LayoutRoot";
    ViewBag.Title = "Data filtering demo";
}

<h2>Orders</h2>

@Html.FilterBar()

<div id="ResultPanel"></div>

@section Styles  {
    <link rel="stylesheet" href="https://cdn.korzh.com/eq/5.0.0/eq.core.min.css" />
}


@section scripts {
    <script src="//cdn.korzh.com/eq/5.0.0/eq.all.min.js"></script>

    <!-- EasyQuery script files -->
    <script>
        window.addEventListener('load', () => {
            let options = {
                paging: {
                    useBootstrap: true
                },
                context: {
                    loadModelOnStart: true,
                    clearResultOnQueryChange: false,
                    broker: {
                        endpoint: "/data-filtering"
                    },
                    widgets: {
                        filterBar: {
                            queryPanel: {
                                attrElementFormat: "{entity} {attr}"
                            }
                        }
                    }
                }
            }
            let basicView = new easyquery.HtmlDataFilterView();
            basicView.init(options);
        });

    </script>
}
