
@{
    ViewBag.Title = "Orders - EasyQuery LINQ demo";
}

<script type="text/javascript">

    window.easyQuerySettings = {
        serviceUrl: "/Orders",
        loadDefaultModel: true,
        useBootstrap: true,
        filterBar: {
            queryPanel: {
                attrElementFormat: "{entity} {attr}"
            }
        }
    };
		
    function getPrefix() {
        var res = window.location.pathname;
        if (res.charAt(res.length - 1) !== '/')
            res = res + '/';
        return res;
    }
</script>

<h2>Orders</h2>

@Html.FilterBar()

<div id="ResultPanel"></div>

@section scripts {
<script src="//cdn.korzh.com/eq/5.0.0/eq.all.min.js"></script>

<!-- EasyQuery script files -->
<script>
    window.addEventListener('load', () => {
        let options = {
            paging: {
                useBootstrap: true
            },
            context: {
                loadModelOnStart: true,
                clearResultOnQueryChange: false,
                broker: {
                    serviceUrl: "/Order"
                },
                widgets: {
                    filterBar: {
                        queryPanel: {
                            attrElementFormat: "{entity} {attr}"
                        }
                    }
                }
            }
        }
        //let basicView = new easyquery.HtmlDataFilterView();
        //basicView.init(options);
    });

</script> 
}
