@inject Microsoft.Extensions.Configuration.IConfiguration Configuration

@{
    ViewData["Title"] = "Data Filtering demo";
    ViewData["MenuTitle"] = "Data Filtering demo";
    var appPathBase = Configuration["appPathBase"] ?? "";
}

@section Styles  {
    <link rel="stylesheet" href="https://cdn.korzh.com/eq/5.1.5/eq.core.min.css">
}

<div class="eqjs-process-bar" id="ProcessBar"></div>
<div class="container">
    <h4>Orders</h4>

    @Html.FilterBar()

    <div id="ResultPanel"></div>
</div>


@section Scripts {

    <!-- EasyQuery script -->
    <script src="https://cdn.korzh.com/eq/5.1.5/eq.all.min.js"></script>

    <!-- EasyQuery script files -->
    <script>
        window.addEventListener('load', () => {
            let options = {
                loadModelOnStart: true,
                clearResultOnQueryChange: false,
                broker: {
                    endpoint: "@(appPathBase)/data-filtering"
                },
                widgets: {
                    filterBar: {
                        queryPanel: {
                            attrElementFormat: "{entity} {attr}"
                        }
                    }
                },
                result: {
                    paging: {
                        useBootstrap: true
                    }
                }
            }
            let view = new easyquery.ui.HtmlDataFilterView();
            view.init(options);
        });

    </script>
}
