
@{
    ViewBag.Title = "Data filtering demo";
}

    <div class="container">
        <h4>Orders</h4>

        @Html.FilterBar()

        <div id="ResultPanel"></div>
    </div>

@section Styles  {
    <link rel="stylesheet" href="/css/eq.core.min.css">
    <style>
        .table td, .table th {
            padding: .25rem .75rem;
        }
    </style>
}


@section scripts {
    <script src="/js/eq.all.min.js" type="text/javascript"></script>

    <!-- EasyQuery script files -->
    <script>
        window.addEventListener('load', () => {
            let options = {
                paging: {
                    useBootstrap: true
                },
                context: {
                    loadModelOnStart: true,
                    clearResultOnQueryChange: false,
                    broker: {
                        endpoint: "/data-filtering"
                    },
                    widgets: {
                        filterBar: {
                            queryPanel: {
                                attrElementFormat: "{entity} {attr}"
                            }
                        }
                    }
                }
            }
            let basicView = new easyquery.HtmlDataFilterView();
            basicView.init(options);
        });

    </script>
}
